@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap");

#app {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* 
      colors: #fffacc - pastel yellow
              #ff3bba - pastel yellow, darker
              #ffb2b2 - pastel red
              #6dc9c9 - pastel blue
              #a5d8d8 - pastel blue, lighter
  
      */
}
body {
  background-color: #f9f9f9;
}

.blue-style {
  background-color: #d1ecf1 !important;
  border: 2px solid #bee5eb !important;
}

.red-style {
  background-color: #ffb2b2 !important;
  border: 2px solid #f79292 !important;
}

.sharing-blue-text {
  color: #d1ecf1 !important;
}

.h100 {
  height: 100% !important;
}

.w100 {
  height: 100% !important;
}
.bg-solid {
  /* background-color: white; */
  background-color: #20c997;
}
