#app {
  font-family: "Courier New", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* 
      colors: #fffacc - pastel yellow
              #ff3bba - pastel yellow, darker
              #ffb2b2 - pastel red
              #6dc9c9 - pastel blue
              #a5d8d8 - pastel blue, lighter
  
      */
}
body {
  background-color: #f9f9f9;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sharing-blue-style {
  background-color: #d1ecf1 !important;
  border: 2px solid #bee5eb !important;
}

.sharing-blue-text {
  color: #d1ecf1 !important;
}

.h100 {
  height: 100% !important;
}

.w100 {
  height: 100% !important;
}
